### Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [1]:
import pandas as pd

In [2]:
# Dictionary -> Series
dict_data = {
    'a' : 1,
    'b' : 2,
    'c' : 3,
}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [10]:
sr = \
    pd.Series(
        dict_data
    )
sr

a    1
b    2
c    3
dtype: int64

---

In [12]:
# List -> series

list_data = 
    {
        'r' : '2026-01-01',
        'm' : '3.14',
        'm' : 'abc',
        'm' : '100',
        'm' : 'True'
    }

array([1, 2, 3])

In [ ]:
pd.Series(
    list_data
)

In [22]:
# Tuple -> Series변환 후 index 변경하기

tuple_data = ('유비', '2020-10-20', '남', False)
sr = pd.Series(
    tuple_data,
    index=['이름', '생년월일', '성별', '학생여부']
)
sr

이름              유비
생년월일    2020-10-20
성별               남
학생여부         False
dtype: object

In [25]:
tuple_data = ('유비', '2020-10-20', '남', False)
sr = pd.Series(
    tuple_data
)
sr.index = ['이름', '생년월일', '성별', '학생여부']
sr

이름              유비
생년월일    2020-10-20
성별               남
학생여부         False
dtype: object

In [ ]:
# iloc로 추출하기
sr.iloc[:2]

# loc로 추출하기
sr.loc[1,:]

이름              유비
생년월일    2020-10-20
dtype: object

---
#### Series의 연산

In [65]:
student = pd.Series(
    {
        '국어':100,
        '영어':80,
        '수학':90
    }
)
student

국어    100
영어     80
수학     90
dtype: int64

In [66]:
# 과목의 점수를 200으로 나누기

student / 200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [67]:
student1 = pd.Series(
    {
        '국어':100,
        '영어':80,
        '수학':90
    }
)
student1

국어    100
영어     80
수학     90
dtype: int64

In [68]:
student2 = pd.Series(
    {
        '수학':80,
        '국어':90,
        '영어':80,
    }
)
student2

수학    80
국어    90
영어    80
dtype: int64

In [ ]:
# 덧셈
addition = student1 + student2
addition

국어    190
수학    170
영어    160
dtype: int64

In [71]:
# 뺄셈
subtraction = student1 - student2
subtraction

국어    10
수학    10
영어     0
dtype: int64

In [72]:
# 곱셈
multiplication = student1 * student2
multiplication

국어    9000
수학    7200
영어    6400
dtype: int64

In [73]:
# 나눗셈
division = student1 / student2
division

국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [77]:
# 데이터프레임 만들기
result = \
    pd.DataFrame(
        [addition, subtraction, multiplication, division],
        index=['덧셈', '뺄셈', '곱셈', '나눗셈']    
    )
result

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [79]:
result = \
    pd.DataFrame(
        [addition, subtraction, multiplication, division],
        
    )
result.index = ['덯', '마','곱', '난']
result

            국어        수학      영어
덯   190.000000   170.000   160.0
마    10.000000    10.000     0.0
곱  9000.000000  7200.000  6400.0
난     1.111111     1.125     1.0