#### DataFrmae의 구조

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("../Data/auto-mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

#### 자동차 연비 DataSet
- mpg : 연비 (miles per galon), kpl(kilometer per liter)
- cylinders : 실린더 수
- displacement : 배기량
- horsepower : 마력
- weight : 차중
- acceleration : 가속능력
- model year : 출시년도 
- origin : 제조국 (1: USA, 2: EU, 3: JPN)
- name : 모델명

In [6]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [8]:
df.shape

(398, 9)

In [ ]:
df.info() # dtype 에 숫자인데 str, object 로 되어있으면 데이터중 텍스트가 있을 수 있음.

<class 'pandas.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    str
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    str
dtypes: float64(4), int64(3), str(2)
memory usage: 28.1 KB

In [ ]:
# Data Type만 확인
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower          str
weight          float64
acceleration    float64
model year        int64
origin            int64
name                str
dtype: object

In [ ]:
# map의 Data Type
df.mpg.dtype # 반복문 불가능
df['mpg'].dtype # 반복문 가능

dtype('float64')

In [ ]:
# DataFrame의 기술통계(요약통계)*편차, 중앙값을 한번에 보여주는. 정보 확인
df.describe()
# 정규분포 확인하기 위해서 분석. 
# 평균=중앙값: 값이 몰려있음.
#

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [ ]:
# 전체 다 보고싶음!!
df.describe(include='all') 
# 어떤 단어가 제일 많음? ford pinto가 6개로 제일 많음
# unique : 중복 제거 갯수

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

top : 가장 많은 빈도수를 가진 변수                     
freq : top에 해당하는 변수의 빈도수                           
unique : 중복을 제거한 종류의 수

In [18]:
# df의 각 열이 가지고 있는 데이터 갯수
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [ ]:
# df의 origin의 중복 갯수(freq) 확인
# 카테고리를 시켜놓으면 어떤데이터가 몇개 있는지 알 수 있음....

df.origin.unique()
df.origin.value_counts()

np.int64(79)

> 1(미국) : 249, 2(EU):70, 3:(JPN): 79

In [57]:
# 평균값
# print(df.mean()) # type 에러
print(df.mean(numeric_only=True))
print("-"*20)
print(df.mean(numeric_only=True)['mpg'])
print("-"*20)
print(df.mpg.mean())
print("-"*20)
print(df['mpg'].mean())
# mpg와 weight의 평균 보기
print("-"*20)
print(df[['mpg','weight']].mean())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64
--------------------
23.514572864321607
--------------------
23.514572864321607
--------------------
23.514572864321607
--------------------
mpg         23.514573
weight    2970.424623
dtype: float64

In [58]:
# 중앙값
print(df.median(numeric_only=True))
print("-"*20)
print(df.median(numeric_only=True)['mpg'])
print("-"*20)
print(df.mpg.median())
print("-"*20)
print(df['mpg'].median())
# mpg와 weight의 평균 보기
print("-"*20)
print(df[['mpg','weight']].median())

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64
--------------------
23.0
--------------------
23.0
--------------------
23.0
--------------------
mpg         23.0
weight    2803.5
dtype: float64

In [59]:
# 최대값
df.max(numeric_only=True)

mpg               46.6
cylinders          8.0
displacement     455.0
weight          5140.0
acceleration      24.8
model year        82.0
origin             3.0
dtype: float64

In [60]:
# 최소값
df.min(numeric_only=True)

mpg                9.0
cylinders          3.0
displacement      68.0
weight          1613.0
acceleration       8.0
model year        70.0
origin             1.0
dtype: float64

In [61]:
# 표준편차
print(df.std(numeric_only=True))

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64

In [ ]:
# 상관계수
# mpg와 weight의 상관계수
df[['mpg', 'weight']].corr()  # -0.83 = 83%(절대값)의 관계성이 있다 (높다)

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

In [64]:
# 숫자 컬럼에 대한 상관계수 보기
df.corr(numeric_only=True)

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [65]:
df[['cylinders', 'displacement']].corr()

              cylinders  displacement
cylinders      1.000000      0.950721
displacement   0.950721      1.000000

In [ ]:
df[['cylinders', 'displacement']].corr()