### 대선자료 시각화

In [1]:
import pandas as pd

In [2]:
election = pd.read_csv('../Data/21대_대통령선거.csv')
election

        광역시도   시군구    선거인수     투표수     이재명     김문수    이준석
0      서울특별시   종로구  125901   99261   47735   39574   9326
1      서울특별시    중구  110181   87166   40482   36302   8450
2      서울특별시   용산구  183614  143813   58705   67927  13794
3      서울특별시   성동구  244536  196282   88028   84043  20217
4      서울특별시   광진구  301007  239807  114304   94752  25469
..       ...   ...     ...     ...     ...     ...    ...
248     경상남도   산청군   30968   24668    7478   15548   1130
249     경상남도   거창군   52316   41373   12623   25259   2640
250     경상남도   합천군   37329   28935    7001   20132   1188
251  제주특별자치도   제주시  409912  306685  169119  102224  27522
252  제주특별자치도  서귀포시  155343  114891   59610   43066   9387

[253 rows x 7 columns]

In [3]:
election.info()

<class 'pandas.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   광역시도    253 non-null    str
 1   시군구     253 non-null    str
 2   선거인수    253 non-null    int64
 3   투표수     253 non-null    int64
 4   이재명     253 non-null    int64
 5   김문수     253 non-null    int64
 6   이준석     253 non-null    int64
dtypes: int64(5), str(2)
memory usage: 14.0 KB

In [4]:
# 기본 통계량 확인
election.describe()  # 시각화는 가능 분석은 불가능 => 중앙값, 평균, min, max 차이가 큼.

,선거인수,투표수,이재명,김문수,이준석
count,253.000000,253.000000,253.000000,253.000000,253.000000
mean,175461.940711,139274.691700,68330.090909,56899.758893,11531.711462
std,135904.618790,108051.027945,57651.478345,47983.374559,10570.967359
min,8412.000000,6716.000000,1814.000000,1584.000000,454.000000
25%,50638.000000,38724.000000,18860.000000,16673.000000,2045.000000
50%,153669.000000,114891.000000,55305.000000,45028.000000,9057.000000
75%,263759.000000,216261.000000,106747.000000,90041.000000,18088.000000
max,617951.000000,484777.000000,261539.000000,246446.000000,46194.000000

In [5]:
election.head()

    광역시도  시군구    선거인수     투표수     이재명    김문수    이준석
0  서울특별시  종로구  125901   99261   47735  39574   9326
1  서울특별시   중구  110181   87166   40482  36302   8450
2  서울특별시  용산구  183614  143813   58705  67927  13794
3  서울특별시  성동구  244536  196282   88028  84043  20217
4  서울특별시  광진구  301007  239807  114304  94752  25469

In [22]:
electionSum = election[['광역시도', '시군구', '선거인수','이재명', '김문수', '이준석']].copy()

electionSum['electionSum'] = electionSum.sum(axis=1)

electionSum.head()

TypeError: can only concatenate str (not "int") to str

In [16]:
# electionRatio = electionSum / 투표수 * 100의 결과를 반올림 2자리로 정리한다.

election['electionRatio'] = round(election.electionSum / election.투표수 * 100, 2)
election.head()

AttributeError: 'DataFrame' object has no attribute 'electionSum'

In [23]:
# 3후보의 투표율이 가장 높은 지역?
election[election.electionRatio == election.electionRatio.max()]

AttributeError: 'DataFrame' object has no attribute 'electionRatio'