#### 서울시 CCTV 현황 분석 및 인구 현황 분석

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

#### CCTV 설치현황

In [3]:
CCTV_Seoul = pd.read_excel("../Data/CCTV_in_Seoul_2018.xlsx")
CCTV_Seoul.head()

   기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [4]:
CCTV_Seoul.tail()

    기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
20  용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328
24  중랑구  1068       NaN    NaN    NaN    770    102    121     66      9

In [9]:
CCTV_Seoul.info()

<class 'pandas.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기관명       25 non-null     str
 1   소계        25 non-null     int64
 2   2011년 이전  23 non-null     float64
 3   2012년     23 non-null     float64
 4   2013년     23 non-null     float64
 5   2014년     25 non-null     int64
 6   2015년     25 non-null     int64
 7   2016년     25 non-null     int64
 8   2017년     25 non-null     int64
 9   2018년     25 non-null     int64
dtypes: float64(3), int64(6), str(1)
memory usage: 2.1 KB

In [49]:
CCTV_Seoul.sort_values('소계',ascending=False)

      구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0    강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
4    관악구  3985     430.0   56.0  419.0    487    609    619    694    671
6    구로구  3227     852.0  219.0  349.0    187    268    326    540    486
16   성북구  3003     779.0   84.0  304.0    241    279    388    285    643
21   은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
14   서초구  2835    1172.0   91.0  228.0    134    215    352    247    396
18   양천구  2775     772.0  161.0  185.0    169    172    349    137    830
15   성동구  2679     665.0  109.0  118.0    101    258    201    933    294
19  영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
13  서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
20   용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
10  동대문구  2003       0.0    0.0    0.0   1326    111    233    136    197
12   마포구  1935     585.0  108.0   69.0     70    177    359    372    195
8    노원구  1906     481.0  117.0  203.0     80    461    298    110    156
1    강동구  1879     303.0  387.0  134.0     59    144    194    273    385
11   동작구  1780     238.0   93.0   29.0    503    130    254    278    255
7    금천구  1634      27.0   17.0  242.0    101    382    136    199    530
3    강서구  1617     219.0  155.0  118.0    230    187    190    264    254
17   송파구  1586     600.0   99.0   88.0     21    166    100    116    396
5    광진구  1581     470.0   42.0   83.0     87     64     21    468    346
23    중구  1544      25.0  165.0  114.0     80    245    270    317    328
22   종로구  1471       8.0    7.0  599.0    132    195    148    281    101
2    강북구  1265     243.0   88.0  141.0     74    145    254      1    319
24   중랑구  1068       0.0    0.0    0.0    770    102    121     66      9
9    도봉구   858     197.0   66.0    8.0    185     59    155    117     71

In [15]:
CCTV_Seoul.rename(
    columns={'기관명':'구별'},
    inplace=True
    )
CCTV_Seoul.tail()

     구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
20  용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328
24  중랑구  1068       NaN    NaN    NaN    770    102    121     66      9

In [27]:
CCTV_Seoul[CCTV_Seoul['2011년 이전'].isnull()]

      구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
10  동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
24   중랑구  1068       NaN    NaN    NaN    770    102    121     66      9

In [29]:
# NaN을 0으로 변환하기
CCTV_Seoul.fillna(0, inplace=True)
CCTV_Seoul.tail()

     구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
20  용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328
24  중랑구  1068       0.0    0.0    0.0    770    102    121     66      9

In [30]:
CCTV_Seoul.info()

<class 'pandas.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구별        25 non-null     str
 1   소계        25 non-null     int64
 2   2011년 이전  25 non-null     float64
 3   2012년     25 non-null     float64
 4   2013년     25 non-null     float64
 5   2014년     25 non-null     int64
 6   2015년     25 non-null     int64
 7   2016년     25 non-null     int64
 8   2017년     25 non-null     int64
 9   2018년     25 non-null     int64
dtypes: float64(3), int64(6), str(1)
memory usage: 2.1 KB

---
#### 인구현황

In [32]:
pop_seoul = pd.read_excel("../Data/population_in_Seoul_2020.xlsx", header=3, usecols="B,D,G,J,N")
pop_seoul.columns = ['구별', '인구수', '한국인', '외국인', '고령자']
pop_seoul

      구별       인구수      한국인     외국인      고령자
0     합계  10013781  9733655  280126  1518239
1    종로구    161984   151217   10767    28073
2     중구    136469   126175   10294    23794
3    용산구    246165   229579   16586    39439
4    성동구    307193   299042    8151    44728
5    광진구    365990   350417   15573    48989
6   동대문구    362793   346156   16637    60367
7    중랑구    400678   395619    5059    66764
8    성북구    454532   442494   12038    72172
9    강북구    316750   312985    3765    61660
10   도봉구    333495   331238    2257    60023
11   노원구    535495   531037    4458    82682
12   은평구    482509   478019    4490    82245
13  서대문구    325875   312642   13233    53038
14   마포구    386086   374570   11516    53283
15   양천구    460532   456339    4193    62761
16   강서구    595703   589302    6401    85992
17   구로구    438308   405837   32471    67432
18   금천구    251370   232583   18787    38508
19  영등포구    404766   371903   32863    59373
20   동작구    407802   395014   12788    63378
21   관악구    516662   499374   17288    76664
22   서초구    434801   430568    4233    58332
23   강남구    549898   544804    5094    72602
24   송파구    680883   674095    6788    89539
25   강동구    457042   452646    4396    66401

In [ ]:
# 합계 행 삭제
pop_seoul.drop(
    0,
    axis = 'rows',
    inplace=True
)

In [37]:
pop_seoul.reset_index(drop=True, inplace=True)
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자
0  종로구  161984  151217  10767  28073
1   중구  136469  126175  10294  23794
2  용산구  246165  229579  16586  39439
3  성동구  307193  299042   8151  44728
4  광진구  365990  350417  15573  48989

In [38]:
pop_seoul.info()

<class 'pandas.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     str
 1   인구수     25 non-null     int64
 2   한국인     25 non-null     int64
 3   외국인     25 non-null     int64
 4   고령자     25 non-null     int64
dtypes: int64(4), str(1)
memory usage: 1.1 KB

---
### CCTV 현황
#### 3년간 CCTV 증가율을 구해서 CCTV가 제일 많이 증가한 구를 검색

In [57]:
CCTV_Seoul.head()

    구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [60]:
CCTV_Seoul['최근증가율'] = \
    CCTV_Seoul.loc[:,'2016년':].sum(axis='columns') / CCTV_Seoul.loc[:,'2011년 이전':'2015년'].sum(axis='columns') * 100
CCTV_Seoul.sort_values(
    by = '최근증가율',
    ascending=False
).head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중구,1544,25.0,165.0,114.0,80,245,270,317,328,193.494966
19,영등포구,2495,132.0,121.0,206.0,217,366,289,371,793,165.267067
7,금천구,1634,27.0,17.0,242.0,101,382,136,199,530,154.385204
5,광진구,1581,470.0,42.0,83.0,87,64,21,468,346,129.600292
15,성동구,2679,665.0,109.0,118.0,101,258,201,933,294,127.720905

---
#### 인구현황

In [69]:
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
0  종로구  161984  151217  10767  28073  6.646953  17.330724
1   중구  136469  126175  10294  23794  7.543105  17.435462
2  용산구  246165  229579  16586  39439  6.737757  16.021368
3  성동구  307193  299042   8151  44728  2.653381  14.560228
4  광진구  365990  350417  15573  48989  4.255034  13.385338

In [ ]:
pop_seoul['외국인 비율'] = (pop_seoul['외국인'] / pop_seoul['인구수']) * 100
pop_seoul['고령자 비율'] = (pop_seoul['고령자'] / pop_seoul['인구수']) * 100
# == 
pop_seoul.loc[:,['외국인 비율', '고령자 비율']] = pop_seoul[['외국인','고령자']].div(pop_seoul['인구수'], axis = 0) * 100

In [72]:
# 인구수 정렬
pop_seoul.sort_values(by ='인구수', ascending=False).tail()

     구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
3   성동구  307193  299042   8151  44728  2.653381  14.560228
17  금천구  251370  232583  18787  38508  7.473843  15.319251
2   용산구  246165  229579  16586  39439  6.737757  16.021368
0   종로구  161984  151217  10767  28073  6.646953  17.330724
1    중구  136469  126175  10294  23794  7.543105  17.435462

In [73]:
# 외국인 정렬
pop_seoul.sort_values(by='외국인', ascending=False).head()

      구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
18  영등포구  404766  371903  32863  59373  8.119012  14.668475
16   구로구  438308  405837  32471  67432  7.408261  15.384615
17   금천구  251370  232583  18787  38508  7.473843  15.319251
20   관악구  516662  499374  17288  76664  3.346095  14.838328
5   동대문구  362793  346156  16637  60367  4.585811  16.639516

In [77]:
# pop_seoul.sort_values(by='외국인 비율', ascending=False)

In [79]:
pop_seoul.sort_values(by='고령자', ascending=False).head()

     구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
23  송파구  680883  674095   6788  89539  0.996941  13.150424
15  강서구  595703  589302   6401  85992  1.074529  14.435381
10  노원구  535495  531037   4458  82682  0.832501  15.440294
11  은평구  482509  478019   4490  82245  0.930553  17.045278
20  관악구  516662  499374  17288  76664  3.346095  14.838328

In [78]:
pop_seoul.sort_values(by='고령자 비율', ascending=False)

      구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
8    강북구  316750  312985   3765  61660  1.188635  19.466456
9    도봉구  333495  331238   2257  60023  0.676772  17.998171
1     중구  136469  126175  10294  23794  7.543105  17.435462
0    종로구  161984  151217  10767  28073  6.646953  17.330724
11   은평구  482509  478019   4490  82245  0.930553  17.045278
6    중랑구  400678  395619   5059  66764  1.262610  16.662757
5   동대문구  362793  346156  16637  60367  4.585811  16.639516
12  서대문구  325875  312642  13233  53038  4.060759  16.275566
2    용산구  246165  229579  16586  39439  6.737757  16.021368
7    성북구  454532  442494  12038  72172  2.648438  15.878310
19   동작구  407802  395014  12788  63378  3.135836  15.541366
10   노원구  535495  531037   4458  82682  0.832501  15.440294
16   구로구  438308  405837  32471  67432  7.408261  15.384615
17   금천구  251370  232583  18787  38508  7.473843  15.319251
20   관악구  516662  499374  17288  76664  3.346095  14.838328
18  영등포구  404766  371903  32863  59373  8.119012  14.668475
3    성동구  307193  299042   8151  44728  2.653381  14.560228
24   강동구  457042  452646   4396  66401  0.961837  14.528424
15   강서구  595703  589302   6401  85992  1.074529  14.435381
13   마포구  386086  374570  11516  53283  2.982755  13.800811
14   양천구  460532  456339   4193  62761  0.910469  13.627935
21   서초구  434801  430568   4233  58332  0.973549  13.415793
4    광진구  365990  350417  15573  48989  4.255034  13.385338
22   강남구  549898  544804   5094  72602  0.926354  13.202812
23   송파구  680883  674095   6788  89539  0.996941  13.150424

> 정리             
인구수가 제일 많은 지역은 송파구 이지만, 영등포구가 외국인이 제일 많다.             
그리고 그 근처라고 할 수 있는 구로구, 금천구도 외국인이 많다.                
송파구는 고령자가 제일 많지만, 고령자 비율이 높지 않는것으로 확인된다.         
하지만 강북구, 도봉구, 중구, 종로구, 은평구 같은 경우는 인구수 대비 고령자 비율이 높기 때문에              
추후 고령화가 우려된다.

---
#### CCTV와 인구현황 합치기

In [89]:
data_result = \
    pd.merge(
        CCTV_Seoul,
        pop_seoul,
        on = '구별'
    )
data_result.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,강남구,5221,1944.0,195.0,316.0,430,546,765,577,448,54.531348,549898,544804,5094,72602,0.926354,13.202812
1,강동구,1879,303.0,387.0,134.0,59,144,194,273,385,93.943260,457042,452646,4396,66401,0.961837,14.528424
2,강북구,1265,243.0,88.0,141.0,74,145,254,1,319,102.125178,316750,312985,3765,61660,1.188635,19.466456
3,강서구,1617,219.0,155.0,118.0,230,187,190,264,254,91.524887,595703,589302,6401,85992,1.074529,14.435381
4,관악구,3985,430.0,56.0,419.0,487,609,619,694,671,108.459707,516662,499374,17288,76664,3.346095,14.838328

In [ ]:
# 년도별 CCTV 컬럼 삭제
data_drop = \
    data_result.drop(
        data_result.iloc[:,2:10],
        axis='columns'
    )


# ==
for i in data_result.columns[2:9+1]:
    del data_result[i]
data_result.head()

In [94]:
data_drop.head()

    구별    소계       최근증가율     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
0  강남구  5221   54.531348  549898  544804   5094  72602  0.926354  13.202812
1  강동구  1879   93.943260  457042  452646   4396  66401  0.961837  14.528424
2  강북구  1265  102.125178  316750  312985   3765  61660  1.188635  19.466456
3  강서구  1617   91.524887  595703  589302   6401  85992  1.074529  14.435381
4  관악구  3985  108.459707  516662  499374  17288  76664  3.346095  14.838328

In [95]:
data_drop.set_index('구별', inplace=True)
data_drop.head()

       소계       최근증가율     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
구별
강남구  5221   54.531348  549898  544804   5094  72602  0.926354  13.202812
강동구  1879   93.943260  457042  452646   4396  66401  0.961837  14.528424
강북구  1265  102.125178  316750  312985   3765  61660  1.188635  19.466456
강서구  1617   91.524887  595703  589302   6401  85992  1.074529  14.435381
관악구  3985  108.459707  516662  499374  17288  76664  3.346095  14.838328

In [97]:
# 상관계수로 고령자수 소계
data_drop[['소계', '고령자']].corr()

           소계       고령자
소계   1.000000  0.286385
고령자  0.286385  1.000000

In [99]:
data_drop[['소계', '한국인']].corr()

           소계       한국인
소계   1.000000  0.364536
한국인  0.364536  1.000000

In [100]:
data_drop[['소계', '외국인']].corr()

           소계       외국인
소계   1.000000  0.174442
외국인  0.174442  1.000000